<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>233041395169-85tvqemgqs5f0m28ejstkd83j852d90u.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.233041395169-85tvqemgqs5f0m28ejstkd83j852d90u</string>
    <key>API_KEY</key>
    <string>AIzaSyDEulC5wdfDVFtU8IgpRCgHFQy8y46rWeY</string>
    <key>GCM_SENDER_ID</key>
    <string>233041395169</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>net.tourmeapp.tourmeappisrael</string>
    <key>PROJECT_ID</key>
    <string>tourmeapp-40e74</string>
    <key>STORAGE_BUCKET</key>
    <string>tourmeapp-40e74.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:233041395169:ios:b2de3f58fd43b21b0d66a0</string>
</dict>
</plist>
